<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="text-align: center;">
    <h1>Tuya Bulb Project</h1>
    <br>
    <form action="action">
        <button name="bulb" value="on">Bulb On</button>
        <button name="bulb" value="off">Bulb Off</button>
        <br>
        <br>
        Enter Value:
        <input type="number" name="val" min="0" max="100">
        <button name="bulb" value="bright">Set Brightness</button>
        <br><br>
        <input type="color" name="color" value="#ffffff">
        <button name="bulb" value="color">Set Color</button>
        <br><br>
        <button name="bulb" value="toggle">Toggle</button>
        <br>
        <br>
        <button name="bulb" value="disco">Disco Lights ON/Off</button>
    </form>

    <br><br><br>
    <br><br><br>
    <p>Check the cmd prompt for errors if device is not supported or any other errors</p>
</body>

</html>
